/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/emacs-backup
/recentf
/url
/tree-sitter
/elpa-*
/server
/tramp
/bookmarks
/custom.el
/nov-places
/.mc-lists.el
/notes
/image-dired
/annotations
